USE [master]
GO
/****** Object:  Database [MobileShop]    Script Date: 06/10/2017 10:02:59 ******/
CREATE DATABASE [MobileShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MobileShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MobileShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileShop]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Best_Seller]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Best_Seller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK_tbl_Best_Seller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Categories]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tbl_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Deliverer]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Deliverer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phome] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Deliverer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Oder_Detail]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Oder_Detail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductID] [int] NULL,
	[Price] [money] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tbl_Oder_Detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[Id] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[StatusId] [int] NULL,
	[TotalPrice] [money] NULL,
	[CreateDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Alias] [nvarchar](255) NOT NULL,
	[Detail] [ntext] NULL,
	[Quantity] [int] NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[Size] [nvarchar](255) NULL,
	[Weight] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[Memory] [nvarchar](255) NULL,
	[Os] [nvarchar](255) NULL,
	[Cpu] [nvarchar](255) NULL,
	[Camera] [nvarchar](255) NULL,
	[Warranty] [nvarchar](255) NOT NULL,
	[Price] [money] NULL,
	[Views] [int] NULL,
	[LastUpdate] [smalldatetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tbl_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbt_Status]    Script Date: 06/10/2017 10:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbt_Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbt_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Best_Seller] ON 

INSERT [dbo].[tbl_Best_Seller] ([Id], [ProductID]) VALUES (1, 1)
INSERT [dbo].[tbl_Best_Seller] ([Id], [ProductID]) VALUES (2, 5)
INSERT [dbo].[tbl_Best_Seller] ([Id], [ProductID]) VALUES (3, 7)
SET IDENTITY_INSERT [dbo].[tbl_Best_Seller] OFF
SET IDENTITY_INSERT [dbo].[tbl_Categories] ON 

INSERT [dbo].[tbl_Categories] ([Id], [Name]) VALUES (1, N'Apple')
INSERT [dbo].[tbl_Categories] ([Id], [Name]) VALUES (2, N'Samsung')
INSERT [dbo].[tbl_Categories] ([Id], [Name]) VALUES (3, N'Oppo')
SET IDENTITY_INSERT [dbo].[tbl_Categories] OFF
SET IDENTITY_INSERT [dbo].[tbl_Products] ON 

SET IDENTITY_INSERT [dbo].[tbl_Products] OFF
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Best_Seller]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Best_Seller_tbl_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tbl_Products] ([Id])
GO
ALTER TABLE [dbo].[tbl_Best_Seller] CHECK CONSTRAINT [FK_tbl_Best_Seller_tbl_Products]
GO
ALTER TABLE [dbo].[tbl_Oder_Detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Oder_Detail_tbl_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([Id])
GO
ALTER TABLE [dbo].[tbl_Oder_Detail] CHECK CONSTRAINT [FK_tbl_Oder_Detail_tbl_Order]
GO
ALTER TABLE [dbo].[tbl_Oder_Detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Oder_Detail_tbl_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tbl_Products] ([Id])
GO
ALTER TABLE [dbo].[tbl_Oder_Detail] CHECK CONSTRAINT [FK_tbl_Oder_Detail_tbl_Products]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tbl_Users] ([Id])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbl_Users]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbt_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[tbt_Status] ([Id])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbt_Status]
GO
ALTER TABLE [dbo].[tbl_Products]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Products_tbl_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tbl_Categories] ([Id])
GO
ALTER TABLE [dbo].[tbl_Products] CHECK CONSTRAINT [FK_tbl_Products_tbl_Categories]
GO
USE [master]
GO
