<div class="collapse navbar-collapse" id="navbarTogglerDemo03">

    @if (Session["TaiKhoan"] == null)
    {
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Register">đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Register">đăng ký</a>
            </li>
        </ul>

    }
    else
    {
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Account">Xin Chào @Session["TaiKhoan"].ToString()</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/DESTROYSESCION">Đăng Xuất</a>
            </li>
        </ul>
    }


</div>
