
<div class="container text-center">
    <div class="col-md-12 ml-auto mr-auto">
        @using (Html.BeginForm("_pChangePassword", "Home"))
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                <div class="form-row">
                    @Html.Label("Nhập mật khẩu cũ", htmlAttributes: new { @class = "control-label col-md-3 mt-auto" })
                    <div class="col-md-8 ml-auto mr-auto">
                        <input type="password" id="Password" name="Password" class="form-control ml-auto mr-auto" required="required" pattern="[A-Za-z0-9]{6,30}" title="Mật khẩu của bạn tối thiểu có 6 ký tự và không được nhập ký tự đặc biệt !" />
                    </div>
                </div>
            </div>




            <div class="form-group">
                <div class="form-row">
                     @Html.Label("Mật khẩu mới", htmlAttributes: new { @class = "control-label col-md-3 mt-auto" })
                    <div class="col-md-8 ml-auto mr-auto">
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control ml-auto mr-auto" required="required" pattern="[A-Za-z0-9]{6,30}" title="Mật khẩu của bạn tối thiểu có 6 ký tự và không được nhập ký tự đặc biệt !" />
                   </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    @Html.Label("Nhập lại mật khẩu", htmlAttributes: new { @class = "control-label col-md-3 mt-auto" })
                    <div class="col-md-8 ml-auto mr-auto">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control ml-auto mr-auto" required="required" pattern="[A-Za-z0-9]{6,30}" title="Mật khẩu của bạn tối thiểu có 6 ký tự và không được nhập ký tự đặc biệt !" />
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="">
                      <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                 </div>
            </div>

        }
    </div>
</div>
