@model IEnumerable<DTDD_BaoThanh.Models.tbl_Products>


<div class="row show-product">
    <div class="col-md-12">
        <div class="row product-title">
            <span class="mr-auto">MỘT SỐ SẢN PHẨM</span>
        </div>


        <!-- danh sách sản phẩm  -->
        <div class="row ds-sp">
            @foreach (var item in Model)
            {
                var url = "/San-pham"+ "-" + item.Alias+ "-" + item.Id;
                <div class="col-md-3 col-sm-6 col-xs-12 product-item-box">
                    <div class="product-item">
                        <div class="product-img">
                            <img class="img-responsive" src="~/Content/images/@item.Image" alt="">
                        </div>
                    </div>

                    <div class="product-detail">
                        <h4>@item.Name</h4>
                        <div class="price">
                            <span class="new-price text-center">@String.Format("{0:N0}", item.Price) VNĐ</span>
                        </div>
                        <div class="box-inner">
                            <ul class="product-link list-inline">
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="Thêm Giỏ Hàng" data-trigger="hover">
                                    <a href="#" onclick=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="So Sánh" data-trigger="hover">
                                    <a href="#"><i class="fa fa-compress fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li class="list-inline-item" data-toggle="popover" data-placement="top" data-content="Chi Tiết" data-trigger="hover">
                                    <a href="@url"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @Html.ActionLink("Xem Thêm","All","Home",new { @class = "btn btn-secondary btn-lg btn-block ml-auto mr-auto" })
        </div>
        <!-- danh sách sản phẩm  -->

    </div>
</div>

